# {{ ansible_managed }}
log:
  level: info

runner:
  file: .runner
  capacity: {{ gitea_runner_capacity }}
  env_file: .env
  timeout: 3h
  insecure: {{ not gitea_runner_verify_ssl }}
  fetch_timeout: 5s
  fetch_interval: 2s
  labels: {{ gitea_runner_labels }}

cache:
  enabled: true
  dir: "/data/cache"
  host: ""
  port: 0
  external_server: ""

container:
  network: ""
  privileged: {{ gitea_runner_privileged }}
  options: "-v /run/podman/podman.sock:/var/run/docker.sock -v {{ gitea_runner_ca_file }}:/etc/ssl/certs/ca-certificates.crt:ro,z"  # Propagate podman socket from host to job container
  workdir_parent:
  valid_volumes:
    - /run/podman/podman.sock
    - {{ gitea_runner_ca_file }}
  docker_host: "-"

envs:
  NODE_EXTRA_CA_CERTS: "/etc/ssl/certs/ca-certificates.crt"

host:
  workdir_parent:
